Main Source/Framework/Multitouch.Framework/Service References/Input.Service/Multitouch.Service.Logic.ExternalInterfaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Multitouch.Service.Logic.ExternalInterfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Multitouch.Service.Logic.ExternalInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Multitouch.Contracts" />
  <xs:complexType name="FrameData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrameData" nillable="true" type="tns:FrameData" />
  <xs:complexType name="ArrayOfImageData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageData" nillable="true" type="tns:ImageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageData" nillable="true" type="tns:ArrayOfImageData" />
  <xs:complexType name="ImageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BitsPerPixel" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Stride" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Multitouch.Contracts" minOccurs="0" name="Type" type="q1:ImageType" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageData" nillable="true" type="tns:ImageData" />
</xs:schema>