Main Source/Framework/Multitouch.Framework/Service References/Input.Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ApplicationInterfaceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IApplicationInterface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Multitouch.Contracts" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Multitouch.Service.Logic.ExternalInterfaces" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationInterface_CreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="IApplicationInterface_RemoveSession_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSession" />
  </wsdl:message>
  <wsdl:message name="IApplicationInterface_AddWindowHandleToSession_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWindowHandleToSession" />
  </wsdl:message>
  <wsdl:message name="IApplicationInterface_RemoveWindowHandleFromSession_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveWindowHandleFromSession" />
  </wsdl:message>
  <wsdl:message name="IApplicationInterface_SendEmptyFrames_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmptyFrames" />
  </wsdl:message>
  <wsdl:message name="IApplicationInterface_SendImageType_InputMessage">
    <wsdl:part name="parameters" element="tns:SendImageType" />
  </wsdl:message>
  <wsdl:message name="IApplicationInterface_SendImageType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendImageTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationInterface_Frame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Frame" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IApplicationInterface">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateSession">
      <wsdl:input wsam:Action="http://tempuri.org/IApplicationInterface/CreateSession" message="tns:IApplicationInterface_CreateSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="RemoveSession">
      <wsdl:input wsam:Action="http://tempuri.org/IApplicationInterface/RemoveSession" message="tns:IApplicationInterface_RemoveSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddWindowHandleToSession">
      <wsdl:input wsam:Action="http://tempuri.org/IApplicationInterface/AddWindowHandleToSession" message="tns:IApplicationInterface_AddWindowHandleToSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveWindowHandleFromSession">
      <wsdl:input wsam:Action="http://tempuri.org/IApplicationInterface/RemoveWindowHandleFromSession" message="tns:IApplicationInterface_RemoveWindowHandleFromSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendEmptyFrames">
      <wsdl:input wsam:Action="http://tempuri.org/IApplicationInterface/SendEmptyFrames" message="tns:IApplicationInterface_SendEmptyFrames_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendImageType">
      <wsdl:input wsam:Action="http://tempuri.org/IApplicationInterface/SendImageType" message="tns:IApplicationInterface_SendImageType_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IApplicationInterface/SendImageTypeResponse" message="tns:IApplicationInterface_SendImageType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Frame">
      <wsdl:output wsam:Action="http://tempuri.org/IApplicationInterface/Frame" message="tns:IApplicationInterface_Frame_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IApplicationInterface" type="tns:IApplicationInterface">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IApplicationInterface_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="CreateSession">
      <soap12:operation soapAction="http://tempuri.org/IApplicationInterface/CreateSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveSession">
      <soap12:operation soapAction="http://tempuri.org/IApplicationInterface/RemoveSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddWindowHandleToSession">
      <soap12:operation soapAction="http://tempuri.org/IApplicationInterface/AddWindowHandleToSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveWindowHandleFromSession">
      <soap12:operation soapAction="http://tempuri.org/IApplicationInterface/RemoveWindowHandleFromSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendEmptyFrames">
      <soap12:operation soapAction="http://tempuri.org/IApplicationInterface/SendEmptyFrames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendImageType">
      <soap12:operation soapAction="http://tempuri.org/IApplicationInterface/SendImageType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Frame">
      <soap12:operation soapAction="http://tempuri.org/IApplicationInterface/Frame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationInterfaceService">
    <wsdl:port name="NetNamedPipeBinding_IApplicationInterface" binding="tns:NetNamedPipeBinding_IApplicationInterface">
      <soap12:address location="net.pipe://localhost/Multitouch.Service/ApplicationInterface" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/Multitouch.Service/ApplicationInterface</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>