Main Source/Framework/Multitouch.Framework/Service References/Configuration/Multitouch.Service.Logic.ExternalInterfaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Multitouch.Service.Logic.ExternalInterfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Multitouch.Service.Logic.ExternalInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInputProviderToken">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputProviderToken" nillable="true" type="tns:InputProviderToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputProviderToken" nillable="true" type="tns:ArrayOfInputProviderToken" />
  <xs:complexType name="InputProviderToken">
    <xs:sequence>
      <xs:element name="AddInFullName" nillable="true" type="xs:string" />
      <xs:element name="AssemblyName" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Publisher" nillable="true" type="xs:string" />
      <xs:element name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputProviderToken" nillable="true" type="tns:InputProviderToken" />
</xs:schema>