Main Source/Framework/Multitouch.Framework/Service References/Configuration/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ConfigurationInterfaceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IConfigurationInterface_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Multitouch.Service.Logic.ExternalInterfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationInterface_GetAvailableInputProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableInputProviders" />
  </wsdl:message>
  <wsdl:message name="IConfigurationInterface_GetAvailableInputProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableInputProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationInterface_SetCurrentInputProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentInputProvider" />
  </wsdl:message>
  <wsdl:message name="IConfigurationInterface_SetCurrentInputProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentInputProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationInterface_GetCurrentInputProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentInputProvider" />
  </wsdl:message>
  <wsdl:message name="IConfigurationInterface_GetCurrentInputProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentInputProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationInterface_RestartService_InputMessage">
    <wsdl:part name="parameters" element="tns:RestartService" />
  </wsdl:message>
  <wsdl:message name="IConfigurationInterface_RestartService_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationInterface">
    <wsdl:operation name="GetAvailableInputProviders">
      <wsdl:input wsam:Action="http://tempuri.org/IConfigurationInterface/GetAvailableInputProviders" message="tns:IConfigurationInterface_GetAvailableInputProviders_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IConfigurationInterface/GetAvailableInputProvidersResponse" message="tns:IConfigurationInterface_GetAvailableInputProviders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentInputProvider">
      <wsdl:input wsam:Action="http://tempuri.org/IConfigurationInterface/SetCurrentInputProvider" message="tns:IConfigurationInterface_SetCurrentInputProvider_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IConfigurationInterface/SetCurrentInputProviderResponse" message="tns:IConfigurationInterface_SetCurrentInputProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentInputProvider">
      <wsdl:input wsam:Action="http://tempuri.org/IConfigurationInterface/GetCurrentInputProvider" message="tns:IConfigurationInterface_GetCurrentInputProvider_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IConfigurationInterface/GetCurrentInputProviderResponse" message="tns:IConfigurationInterface_GetCurrentInputProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartService">
      <wsdl:input wsam:Action="http://tempuri.org/IConfigurationInterface/RestartService" message="tns:IConfigurationInterface_RestartService_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IConfigurationInterface/RestartServiceResponse" message="tns:IConfigurationInterface_RestartService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IConfigurationInterface" type="tns:IConfigurationInterface">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IConfigurationInterface_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetAvailableInputProviders">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationInterface/GetAvailableInputProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentInputProvider">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationInterface/SetCurrentInputProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentInputProvider">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationInterface/GetCurrentInputProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartService">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationInterface/RestartService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationInterfaceService">
    <wsdl:port name="NetNamedPipeBinding_IConfigurationInterface" binding="tns:NetNamedPipeBinding_IConfigurationInterface">
      <soap12:address location="net.pipe://localhost/Multitouch.Service/ConfigurationInterface" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/Multitouch.Service/ConfigurationInterface</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>